@import 'katex/dist/katex.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
    white-space: pre-wrap !important;
}

.prose p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}